<!doctype html>
{% load static %}
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Billprocess</title>
</head>

<body class="h-100">
  <a href="home" class="btn btn-warning" >BACK</a> <br>
  <center><h1 style="color: coral;"> ENTER     THE     DETAILS    OF     CUSTOMER  </h1></center> 
 <div class="jumbotron"> <div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
      <div class="col-8 ">
        
       
          <!-- Form -->
          <form action="pdf" >

            {% csrf_token %}
    
             <div class="form-group"> <label>Name   </label>  <br>
              {{ form.Name}} <br>
             </div>
           
        
             <div class="form-group">  <label>Address</label>   <br>
              {{ form.Address }} <br> 
             </div>
           
            <div class="form-group"><label>PhoneNo </label>  <br>
              {{ form.phoneNo}} <br>
              <hr></div>
            
              <div class="form-group"><label>Amount : </label>  <tr>
                 <input type="int" value="{{price}}" name="price" disabled >
              </div>
            
            <button type="submit" class="btn btn-success" style="float: right;">My BiLL</button> <br>
          </form>
          
        <hr>
        <hr>
        <hr>
          <!-- Form end --> 
           <!--  <p class="copyright">&copy; Bootstrap 4 "Align Center" tutorial by <a href="https://azmind.com">AZMIND</a>.</p>  -->
    </div>
  </div>
</div></div>

  
  <!-- Optional JavaScript -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>